name: social-post

on:
  workflow_dispatch:


jobs:
  doit:
    runs-on: ubuntu-latest
    env:
      TTBOT_API_KEY: ${{ secrets.TTBOT_API_KEY }}
      TTBOT_API_SECRET: ${{ secrets.TTBOT_API_SECRET }}
      TTBOT_ACCESS_TOKEN: ${{ secrets.TTBOT_ACCESS_TOKEN }}
      TTBOT_ACCESS_TOKEN_SECRET: ${{ secrets.TTBOT_ACCESS_TOKEN_SECRET }}
    steps:
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.2'
      - name: Install rtweet package
        run: Rscript -e 'install.packages("rtweet", dependencies = TRUE)'
      - name: Create and post tweet
        run: |
          rtweet::rtweet_bot(
            api_key = Sys.getenv("TTBOT_API_KEY"),
            api_secret = Sys.getenv("TTBOT_API_SECRET"),
            access_token = Sys.getenv("TTBOT_ACCESS_TOKEN"),
            access_secret = Sys.getenv("TTBOT_ACCESS_TOKEN_SECRET")
          )
          rtweet::post_tweet(status = "This is another test tweet, posted via GHA!")
        shell: Rscript {0}
